<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="get" action="/api">
    	<input type="text" name="answer" value="" placeholder="Direccion"/>
    	<input type="submit" value="Buscar"/>
    </form>
    <p> Ejemplo de dirección válida: 1NfRMkhm5vjizzqkp2Qb28N7geRQCa4XqC </p>
  </body>
</html>
