<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="get" action="/api">
    	<input type="text" name="answer" value="" placeholder="Direccion"/>
        <p>Profundidad: </p>
        <select name="prof">
          <option name=1>1</option>
          <option name=2>2</option>
          <option name=3>3</option>
          <option name=4>4</option>
          <option name=5>5</option>
          <option name=6>6</option>
            <option name=7>7</option>
        </select>
        <p>Número de nodos: </p>
        <select name="nodos">
            <option name="Todos">Todos</option>
            <option name=1>1</option>
            <option name=2>2</option>
            <option name=3>3</option>
            <option name=4>4</option>
            <option name=5>5</option>
            <option name=6>6</option>
            <option name=7>7</option>
        </select>
        <p>Tipo: </p>
        <select name = "tipo">
            <option name="todos">Todas</option>
            <option name="entrantes">Entrantes</option>
            <option name="Salientes">Salientes</option>
        </select>
        <p></p>
    	<input type="submit" value="Buscar"/>
    </form>
    <p> Ejemplo de dirección válida: 1Hg3xpt3y4EApuCEB8wfotBWYex1wB5EkN </p>
  </body>
</html>
