<!DOCTYPE html>
<meta charset="utf-8">
<script type='text/javascript' src="../../public/javascripts/d3.v3.js"></script>
<html>
  <head>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <p><a href="/">Ir al Inicio</a></p>
    <p>Direccion = <%= dir %></p>
	<script src='../javascripts/jsindex.js'> </script>
  </body>
</html>